@keyframes moving {
	100% {
		transform: rotate(-360deg);
	}
}

.circle-big {
	position: absolute;
	top: 450px;
	left: 750px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: blue;
/* задать анимацию «moving» к текущему элементу */
	/* animation: moving 3s infinite linear; */

/* указать точку координат, вокруг которой будет вращаться объект */
transform-origin: -100px -100px;
/* transform: translate(); */
}

.circle-small {
	position: absolute;
	top: 450px;
	left: 750px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: green;
	/* задать анимацию «moving» к текущему элементу */
	animation: moving 2s infinite linear;

	/* указать точку координат, вокруг которой будет вращаться объект */
	transform-origin: -80px -80px;
	/* transform: translate(); */
}

.circle {
position: absolute;
top: 350px;
left: 650px;
height: 40px;
width: 40px;
border-radius: 50%;
background-color: red;
};